
<!DOCTYPE html>
{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-xl mt-5" style="padding-top:10rem; display:felx; text-align:center;">

      
      
                <h4>Login</h1>
                {% if error %}
                 <p>{{ error }}</p>
    {% endif %}
    <form method="post" style="font-weight:4rem; ">
        {% csrf_token %}
        <label for="username" style="font-size:2rem;">Username:</label><br>
        <input type="text" name="username" id="username" class="input-large" style="font-size:2rem;" required><br><br>
        <label for="password" style="font-size:2rem;">Password:</label><br>
        <input type="password" name="password" id="password"class="input-large" style="font-size:2rem;" required><br><br><br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock content%}