{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% comment %} linking css {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

{% comment %} products section {% endcomment %}
<section class="products" id="products">
    
    <h1 class="heading"> <span>products</span> </h1>
    <div class="container product-container">
        
        
        <div class="row" style="">
            {% for product in products %}
            
             <div class="col col-lg-4" style="">
                <img src="{{product.imageURL}}" class="product-img" alt="">
                <h3>{{product.name}}</h3>
                <div class="price">{{product.price}} </div> 
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a href="#" class="btn btn-outline-sucess">View</a>
            </div> 
        {% endfor %}
        </div>
    </div>
    {% comment %} <script type="text/javascript" src="{% static 'js/script.js'%}"></script>    {% endcomment %}
</section>
{% endblock content %}